@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap");
/*
CSS Rules
font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */
/*
Markazi; Regular(400), Medium(500)
Karla; Regular(400), Medium(500), Bold(700), ExtraBold(800) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

/* General styling */
.App-container {
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
}
ul li {
  list-style-type: none;
}
button .a-tag,
li .a-tag,
.Order-link,
.seat-choice, .form-btn {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: center;
}
.f-links li .a-tag {
  font-weight: 500;
}
.N-links li .a-tag,
.Order-link,
.seat-choice {
  font-weight: 700;
}
#root {
  display: grid;
  justify-content: center;
  align-items: center;
}
header,
nav,
main,
footer {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: auto;
}
/* ---Homepage--- */
.homepage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* ------------Header styling----------- */
header {
  display: flex;
  grid-column: 1 / span 4;
  justify-content: right;
  /* background-color: rgb(121, 134, 134); */
}
.H-img-closure {
  /* background-color: #50e050; */
  display: flex;
  width: 70%;
  height: 45px;
  justify-content: left;
}
.H-img-closure img {
  width: 70%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  /* background-color: rgb(58, 199, 152); */
}

/* --------Nav menu styling----------- */
.Nav {
  /* background-color: cadetblue; */
  grid-column: 5 / span 7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2.5vh 1.5vw 1vh;
}
.faBars {
  color: #333333;
}
.N-links {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1vh 0px;
  /* background-color: #ee9972; */
}
.N-links .a-tag {
  /* background-color: #f4ce14; */
  display: inline-block;
  text-align: center;
  padding: 6px 10px;
  margin: 0 5px;
}
.N-links .a-tag:hover {
  border-bottom: 2px solid #f4ce14;
  padding: 1px 10px 0 10px; /*This padding helped me to control the height change that occurred on hover*/
}

/*----------- Main content styling------------*/
/* --------Hero section-------- */
main {
  /* background-color: cornflowerblue; */
  grid-column: 1 / span 12;
}
.Main-container {
  display: flex;
  flex-flow: column wrap;
}
.Main-hero {
  width: 100%;
  margin: auto;
  padding: 2rem 2rem 0;
  max-height: 17%;
  background-color: #495e57;
}
.Hero-closure {
  /* background-color: #208563; */
  width: 80%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}
.H-txt-btn {
  width: fit-content;
  /* background-color: #6e6f6e; */
  height: fit-content;
  max-width: 40%;
}
.Hero-ll {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  color: rgba(244, 206, 20, 0.75);
  text-align: left;
  line-height: 45px;
  /* background-color: #edefee; */
}
.Hero-ch {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #edefee;
  /* background-color: rgb(163, 131, 91); */
  text-align: left;
}
.Hero-des {
  color: #edefee;
  width: 200px;
  height: 128px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  /* background-color: rgb(113, 84, 139); */
}
.LL-btn {
  width: 191px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #f4ce14;
  margin-bottom: 15px;
}
.btn-hold {
  /* background-color: #fff; */
  width: fit-content;
}
.LL-btn:hover {
  background-color: #fbdabb;
  cursor: pointer;
}
.LL-btn .a-tag {
  font-weight: 700;
}
.Hero-img {
  /* background-color: brown; */
  max-width: 100%;
  height: fit-content;
  top: 2px;
}
.chef-n-food {
  width: 100%;
  max-width: 314px;
  height: auto;
  margin: auto;
}
/* --------Specials section------- */
/* Write a media query for Specials section to change to column and fill the container */
.Specials-container {
  /* background-color: #f8f3d8; */
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
}
.Main-specials {
  /* background-color: chartreuse; */
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-flow: column wrap;
}
.Spec-n-btn {
  /* background-color: #edefee; */
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 10px;
}
.Highlights-txt {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.online-menu {
  margin-right: 4vw;
  margin-left: 6vw;
  margin-top: 1.5vh;
}
.Meal-display {
  /* background-color: #cfddd6; */
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.Meal-card {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #edefee;
  border-radius: 8px;
  height: auto;
}
.Card-text {
  max-width: 215px;
  margin: auto;
  /* background-color: rgb(247, 205, 150); */
}
.Meal-img {
  width: 100%;
  max-width: 100%;
  max-height: 185px;
  margin: 0 auto;
}

.meal-n-price {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* background-color: burlywood; */
  margin: auto;
}
.Greek {
  margin: 4vh auto 2vh;
  /* background-color: #f4ce14; */
}
.Card-text p {
  text-align: left;
  margin: auto;
}

.bike {
  margin: 1vh 0 0 1vw;
}
.Order-link {
  width: 80%;
  /* background-color: burlywood; */
  margin: 4vh auto;
  text-align: left;
}
.restore {
  padding: 0.1vh 0 2vh;
  /* This is to restore the abnormal spacing that occurred */
}
.food-name {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #333333;
}
.food-price {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ee9972;
}
.Card-text p {
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* ---Testimonials section---- */
.Main-testimonials {
  background-color: #edefee;
  width: 100%;
  padding: 10px;
  margin: auto;
}
.Main-testimonials h3 {
  /* background-color: chocolate; */
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 1rem;
}
.Review-display {
  /* background-color: rgb(20, 24, 27); */
  width: 80%;
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 5vh auto 7vh;
  padding: 2rem;
}
.review-card {
  background-color: #ffffff;
  max-width: 200px;
  height: 165px;
  border-radius: 16px;
  padding: 1vh;
  margin: 2vh auto 2vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.review-closure {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  /* background-color: cadetblue; */
}
.username,
.name,
.review-text {
  color: #6e6f6e;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.name {
  color: #333333;
}
.review-text {
  font-weight: 400;
  margin-bottom: 2vh;
}
.stars {
  /* background-color: #333333; */
  width: fit-content;
}
.profile {
  display: flex;
  margin: 20px 0 20px;
}
[alt="user"] {
  margin-right: 10px;
}
/*----About Little Lemon---- */
.Main-about {
  padding: 2rem;
  width: 100%;
  margin: auto;
}
.About-closure {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 30vh;
  /* background-color: aqua; */
}
.About-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  max-width: 40%;
  /* background-color: #928c6f; */
}
.About-text p {
  text-align: left;
}
.About-images {
  width: 52%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  /* background-color: #ee9972; */
}
.About-images img {
  max-width: 250px;
  margin: auto;
}
.A-ll {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  color: #f4ce14;
  font-weight: 500;
}
.A-ch {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin-top: -1.3rem;
}
.A-txt {
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 100%;
  font-weight: 700;
  margin-top: 1rem;
}
.chef1 {
  z-index: 1;
  position: absolute;
  top: 23vh;
  left: 0.6vw;
}
.chef2 {
  z-index: 2;
  position: absolute;
  left: 14vw;
  top: 2vh;
}

/* -------Footer styling----------*/
footer {
  background-color: #edefee;
  grid-column: 1 / span 12;
}
.Footer-container {
  width: 100%;
  padding: 1rem;
  margin: auto;
}
.Footer-closure {
  width: 75%;
  display: flex;
  flex-wrap: row wrap;
  /* background-color: violet; */
  align-items: center;
  justify-content: space-around;
  margin: 1vh auto 0;
}
.footer-logo {
  max-width: 20%;
  min-width: 20%;
  /* background-color: #ee9972; */
}
.footer-logo img {
  /* background-color: #6e6f6e; */
  width: 100%;
  height: auto;
  margin: auto;
}
.fnav-container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* background-color: aquamarine; */
  padding: 1rem;
  height: auto;
}
.fnav {
  display: flex;
  flex-flow: column wrap;
  /* background-color: #eb9292; */
  height: 90%;
  text-align: left;
  justify-content: left;
  place-items: left;
  margin: 1vh auto;
}
.fnav p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  /* background-color: #fbdabb; */
  margin-bottom: 2vh;
}
.f-links {
  /* background-color: crimson; */
  line-height: 28px;
}

/* ----- BookingForm ------ */
.form-section {
  /* background-color: #46af7b; */
  width: 100%;
  display: grid;
  margin: 5vh auto 3vh;
  /* justify-content: center; */
  /* Hold for comparison */
}
.form-container {
  /* background-color: #64605f; */
  display: grid;
  width: 90%;
  margin: auto;
}
.B-img-closure {
  /* background-color: #670218; */
  width: 90%;
  max-width: 90%;
  margin: auto;
}
.B-img {
  width: 80%;
  max-width: 80%;
}
.radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* background-color: rgb(255, 240, 30); */
  width: 100%;
  margin-bottom: 2vh;
}
.seating {
  width: 45%;
  max-width: 45%;
  /* background-color: wheat; */
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5vh;
}
.seating input {
  accent-color: #6b7e77;
  margin-right: 0.6rem;
}
.seat-choice {
  color: #333333;
  /* background-color: #6b7e77; */
}
.field-one,
.field-two {
  /* background-color: burlywood; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 80%;
  margin: 2vh auto 5vh;
  border: none;
}
.confirmation-heading {
  /* background-color: cadetblue; */
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 3vh;
}
/* .field-two {
  background-color: thistle;
} */
label,
.input-box,
textarea {
  /* background-color: blueviolet; */
  text-align: left;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 800;
  outline: none;
  padding: 0.4rem;
}
.input-box {
  width: 100%;
  max-width: 100%;
  height: 50px;
  text-align: center;
}
.input-box,
textarea {
  margin-top: 1vh;
  background-color: #edefee;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  resize: none;
  box-sizing: border-box;
  font-weight: 500;
}
.row {
  /* background-color: #f80539; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
.col {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 45%;
  max-width: 100%;
}
.comment,
textarea {
  /* background-color: brown; */
  width: 100%;
  max-width: 100%;
}
textarea{
  padding: 0.7rem 1rem;
}
.form-btn {
  width: 45%;
  max-width: 100%;
  margin: auto;
  padding: 2.5vh 1vw;
  text-align: center;
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  /* background-color: #f80539; */
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  /* ---- Header Section--- */
  .H-img-closure {
    width: 100%;
  }
  .H-img-closure img {
    width: 100%;
  }
  /* ----Navigation Section---- */
  .N-links {
    justify-content: center;
  }
  /* ---Hero Section--- */
  .Hero-closure {
    width: 95%;
  }
  .H-txt-btn {
    width: 100%;
    max-width: fit-content;
  }
  .Hero-ch {
    margin-bottom: 10px;
  }
  .Hero-des {
    width: 100%;
    height: 100%;
  }
  .btn-hold {
    margin: auto;
    margin-bottom: 1vh;
  }
  .table {
    width: 100%;
    margin: auto;
    padding: 9px 20px;
  }
  .Hero-img {
    margin: auto;
    max-height: 50%;
  }
  .chef-n-food {
    height: 240px;
    max-height: 60%;
    width: 450px;
    max-width: 100%;
  }
  /* ---Main-Specials section--- */
  .Meal-display {
    display: grid;
    gap: 20px;
    width: 100%;
    color: #333333;
    padding: 1vw;
  }
  .Meal-card {
    width: 90%;
    max-width: 600px;
    /* height: fit-content; */
  }
  .Meal-img {
    max-width: 100%;
    max-height: 50%;
  }
  .meal-n-price {
    margin-top: 1vh;
  }
  .Spec-n-btn {
    width: 100%;
    justify-content: space-around;
  }
  .online-menu {
    margin: 1.5vh 6vw 2vh 10vw;
  }
  .Card-text {
    width: 80%;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
  }
  .Order-link {
    margin-bottom: 2vh;
  }
  /* ----Testimonial section---- */
  .Review-display {
    width: 100%;
  }
  .review-card {
    margin: 1vh auto 1vh;
    height: 185px;
  }
  /* ----About section---- */
  .About-closure {
    width: 90%;
    margin-bottom: 56vh;
  }
  .About-text {
    max-width: 100%;
    width: 100%;
  }
  .About-images {
    width: 100%;
  }
  .About-images img {
    max-width: 190px;
    margin: auto;
  }
  .chef1 {
    z-index: 0;
    position: absolute;
    top: 23vh;
    left: 0;
  }
  .chef2 {
    z-index: 0;
    position: absolute;
    left: 8vw;
    top: 2vh;
  }
  /* ----Booking Form---- */
  .seating {
    width: 100%;
    max-width: 100%;
  }
  .col {
    width: 100%;
  }
  .form-btn {
    width: 90%;
    max-width: 100%;
  }
  /* ---- Footer ----- */
  .Footer-closure{
    flex-flow: column;
    width: 100%;
  }
  .footer-logo{
    max-width: 30%;
    min-width: 30%;
  }
.fnav-container{
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
.fnav{
  margin: 1vh auto;
 }
}
