@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap");
/*
CSS Rules
font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */
/*
Markazi; Regular(400), Medium(500)
Karla; Regular(400), Medium(500), Bold(700), ExtraBold(800) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

/* General styling */
.App-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
ul li {
  list-style-type: none;
}
button a,
li a,
.Order-link {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #333333;
}
.f-links li a {
  font-weight: 500;
}
.N-links li a,
.Order-link {
  font-weight: 700;
}
#root {
  display: grid;
  justify-content: center;
  align-items: center;
}
header,
nav,
main,
footer {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: auto;
}

/* ------------Header styling----------- */
header {
  /* background-color: aquamarine; */
  display: flex;
  grid-column: 1 / span 5;
  justify-content: space-evenly;
}
header img {
  max-width: 250px;
  max-height: 55px;
  margin: auto;
}

/* --------Nav menu styling----------- */
nav {
  /* background-color: cadetblue; */
  grid-column: 6 / span 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.N-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}
.N-links a {
  display: inline-block;
  text-align: center;
  padding: 6px 10px;
  margin: 0 5px;
}
.N-links a:hover {
  border-bottom: 2px solid #f4ce14;
  padding: 1px 10px 0 10px; /*This padding helped me to control the height change that occurred on hover*/
}

/*----------- Main content styling------------*/
/* --------Hero section-------- */
main {
  /* background-color: cornflowerblue; */
  grid-column: 1 / span 12;
}
.Main-container {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}
.Hero-bcgd {
  background-color: #495e57;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  position: relative;
}
.Hero-img {
  grid-column: 12 / span 5;
  grid-row: 1 / span 5;
  position: absolute;
  top: 15px;
  justify-self: start;
  max-width: 100%;
  /* min-width: 10rem; */
  height: auto;
}
.Hero-ll {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  color: rgba(244, 206, 20, 0.75);
  text-align: left;
  grid-column: 4 / span 5;
  line-height: normal;
}
.Hero-ch {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #edefee;
  text-align: left;
  grid-column: 4 / span 6;
  margin: -25px 0 20px;
}
.Hero-des {
  color: #edefee;
  width: 200px;
  height: 128px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  grid-column: 4 / span 6;
  margin-bottom: 15px;
}
.LL-btn {
  grid-column: 4 / span 6;
  width: 191px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #f4ce14;
  margin-bottom: 15px;
}
.LL-btn:hover {
  background-color: #fbdabb;
  cursor: pointer;
}
.LL-btn a {
  font-weight: 700;
}
/* --------Specials section------- */
/* Write a media query for Specials section to change to column and fill the container */
.Specials-container {
  /* background-color: #f8f3d8; */
  max-width: 1000px;
  margin: 50px auto;
}
.Main-specials {
  /* background-color: chartreuse; */
  width: 100%;
  margin: 15px auto;
  display: flex;
  flex-flow: column wrap;
}
.Spec-n-btn {
  /* background-color: #edefee; */
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 10px;
}
.Highlights-txt {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.online-menu {
  margin-right: 4vw;
  margin-left: 6vw;
  margin-top: 1.5vh;
}
.Meal-display {
  /* background-color: #cfddd6; */
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.Meal-card {
  display: flex;
  flex-wrap: wrap;
  width: 29%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #edefee;
  border-radius: 8px 8px 0 0;
}
.Card-text {
  max-width: 215px;
  margin: auto;
}
.Meal-img {
  width: 100%;
  max-width: 260px;
  max-height: 185px;
  margin: 0 auto;
}

.meal-n-price {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* background-color: burlywood; */
  margin: auto;
}
.Greek {
  margin: 4vh auto 2vh;
  /* background-color: #f4ce14; */
}
.Card-text p {
  text-align: left;
  margin: auto;
}

.bike {
  margin: 1vh 0 0 1vw;
}
.Order-link {
  width: 80%;
  /* background-color: burlywood; */
  margin: 4vh auto;
  text-align: left;
}
.restore {
  padding: 0.1vh 0 2vh;
  /* This is to restore the abnormal spacing that occurred */
}
.food-name {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #333333;
}
.food-price {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ee9972;
}
.Card-text p {
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* ---Testimonials section---- */
.Main-testimonials {
  background-color: #edefee;
  width: 100%;
  padding: 10px;
}
.Main-testimonials h3 {
  /* background-color: chocolate; */
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 1rem;
}
.Review-display {
  /* background-color: rgb(20, 24, 27); */
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 5vh auto 7vh;
  padding: 2rem;
}
.review-card {
  background-color: #ffffff;
  max-width: 200px;
  height: 165px;
  border-radius: 16px;
  padding: 1vh;
  margin: 2vh auto 2vh;
}
.review-closure {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.username,
.name,
.review-text {
  color: #6e6f6e;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.name {
  color: #333333;
}
.review-text {
  font-weight: 400;
  margin-bottom: 2vh;
}
.stars {
  /* background-color: #333333; */
  width: fit-content;
}
.profile {
  display: flex;
  margin: 20px 0 20px;
}
[alt="user"] {
  margin-right: 10px;
}
/* -------Footer styling----------*/
footer {
  background-color: tomato;
  grid-column: 1 / span 12;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  /* ---Main-Specials section--- */
  .Meal-display {
    display: grid;
    gap: 20px;
    width: 100%;
    color: #333333;
    padding: 1vw;
  }
  .Meal-card {
    width: 100%;
    max-width: 600px;
  }
  .Meal-img {
    max-width: 100%;
    max-height: 50%;
  }
  .Spec-n-btn {
    width: 100%;
  }
  .online-menu {
    margin: 1.5vh 6vw 2vh 10vw;
  }
  .Card-text {
    width: 80%;
    max-width: 470px;
    margin: auto;
  }
  /* ----Testimonial section---- */
  .Review-display {
    width: 100%;
  }
  .review-card {
    margin: 1vh auto 1vh;
  }
}
